NodeRed/Flow6.json
[
    {
        "id": "f08f9e45cf07fe96",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e87727af603b639d",
        "type": "mqtt in",
        "z": "f08f9e45cf07fe96",
        "name": "",
        "topic": "codigoIoT/flow6/mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9ad99b46c83617e1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "7d0a9285c76da21d"
            ]
        ]
    },
    {
        "id": "7d0a9285c76da21d",
        "type": "ui_text",
        "z": "f08f9e45cf07fe96",
        "group": "cae8520863aea9e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto recibido",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "df7f6a8c172c3a32",
        "type": "ui_switch",
        "z": "f08f9e45cf07fe96",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "7df6fe79ef4745fe",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "942ed53a51df825e"
            ]
        ]
    },
    {
        "id": "942ed53a51df825e",
        "type": "mqtt out",
        "z": "f08f9e45cf07fe96",
        "name": "",
        "topic": "codigoIoT/flow6/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9ad99b46c83617e1",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "9ad99b46c83617e1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cae8520863aea9e4",
        "type": "ui_group",
        "name": "Rx",
        "tab": "6a9bdf6ab13bacd6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7df6fe79ef4745fe",
        "type": "ui_group",
        "name": "Tx",
        "tab": "6a9bdf6ab13bacd6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a9bdf6ab13bacd6",
        "type": "ui_tab",
        "name": "Flow 6",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]